
body {
  font-size: 16px;
}

h3 {
  margin-top: 20px;
  margin-left: 40px;
}

#count {
  padding-left: 90px;
  padding-right: 90px;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

#start, #stop, #reset {
  height:40px;
  margin-right: 5px;
  margin-left: 5px
}

.inactive {
  opacity: 0.6;
}